<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"

       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-2.5.6.SEC03.xsd">
    
    <bean id="customerService" 
          class="com.java.spring.aop1.service.CustomerService">
        <property name="name" value="Omar Palomino Sandoval"/>
        <property name="url" value="http://www.hunabsys.com"/>
    </bean>
    
    <bean id="hijackBeforeMethodBean" 
          class="com.java.spring.aop1.aop.HijackBeforeMethod" />
    <bean id="hijackAfterMethodBean" 
          class="com.java.spring.aop1.aop.HijackAfterMethod" />
    <bean id="hijackAroundMethodBean" 
          class="com.java.spring.aop1.aop.HijackAroundMethod" />
    
    <bean id="customerServiceProxy" 
          class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customerService"/>
        <property name="interceptorNames">
            <list>
                <!--<value>hijackBeforeMethodBean</value>-->
                <!--<value>hijackAfterMethodBean</value>-->
                <value>hijackAroundMethodBean</value>
            </list>
        </property>
    </bean>
    
</beans>
