<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    
    <!--DAO-->
    <bean class="com.java.hibernate.util.HibernateUtil"
          factory-method="getSessionFactory"/>
    <bean id="profesorDao"
          class="com.java.hibernate.ejercicio08.dao.impl.ProfesorDaoImpl" />
    <bean id="usuarioDao"
          class="com.java.hibernate.ejercicio08.dao.impl.UsuarioDaoImpl" />
    
    <!--Controller-->
    <bean id="profesorController" 
          class="com.java.hibernate.ejercicio08.controller.ProfesorController" >
        <property name="profesorDao" ref="profesorDao" />
    </bean>
    
    <bean id="usuarioController" 
          class="com.java.hibernate.ejercicio08.controller.UsuarioController" >
        <property name="usuarioDao" ref="usuarioDao" />
    </bean>

</beans>
